@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

body {
  min-height: 100vh;
}

.has-pipe-separator.breadcrumb li + li::before {
    content: "|";
}

.content ul {
  margin-left: 2em;
  list-style: unset;
}

#main {
  height: 50vh;
}


$family-sans-serif: 'Merriweather', serif;
$body-background-color: #EAEAEA;
$primary: #4F6D7A;
$info: #2589BD;
$link: $info;
$link-hover: $primary;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";

@include widescreen {
  body {
    zoom: 120%;
  }
}